CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build
.build
.vscode
_libs

events
output
serialib
prophexi

*.raw
*.bias

tmp

output
*.jpg
*.png
